# pip install pandas

In [1]:
import pandas as pd

# pip install mysql-connector-python

# pip install load-dotenv

In [7]:
from load_dotenv import load_dotenv

In [3]:
load_dotenv()

True

# pip install dotenv

In [9]:
from dotenv import load_dotenv
import os

# load .env file to environment
load_dotenv()

SECRET_USERNAME = os.getenv('SECRET_USERNAME')
SECRET_PASSWORD = os.getenv('SECRET_PASSWORD')

In [10]:

HOSTNAME = '127.0.0.1'
DATABASE_NAME = 'Facultate'

In [11]:
from mysql.connector import (connection)

cnx = connection.MySQLConnection(user=SECRET_USERNAME, password=SECRET_PASSWORD,
                                 host=HOSTNAME,
                                 database=DATABASE_NAME)
# cnx.close()

In [12]:
import mysql.connector

cnx = mysql.connector.connect(user=SECRET_USERNAME, password=SECRET_PASSWORD,
                              host=HOSTNAME,
                              database=DATABASE_NAME)
#

In [13]:
SQL_QUERY = "SELECT * FROM `Facultate`.`Student`;"

pd.read_sql(SQL_QUERY, cnx)

/var/folders/3k/f_77v9pn1r94_xmvm2w3xgqr0000gn/T/ipykernel_3272/47866869.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pd.read_sql(SQL_QUERY, cnx)

   idStudent       nume  prenume grupa email      data_incrierii     statut
0          1  Andreescu   Andrei  None  None 2026-02-10 19:42:35  neevaluat
1          2  Andreescu  Andreea  None  None 2026-02-10 19:43:11  neevaluat
2          4    Ionescu   Andrei  None  None 2026-02-10 19:43:45  neevaluat

In [14]:
cnx.close()